#!/usr/bin/env python

[Desktop Entry]
Name=Couple Quest
Exec=python ../hra.py
Icon=../slice/hra.png
StartupNotify=false
Terminal=false
Type=Application
GenericName=Board game for couples
Path=
