#!/usr/bin/env python

[Desktop Entry]
Name=Couple Quest
Exec=python /home/clon/Plocha/Couple-quest/hra.py
Icon=/home/clon/Plocha/Couple-quest/slice/hra.png
StartupNotify=false
Terminal=false
Type=Application
GenericName=Board game for couples
Path=/home/clon/Plocha/Couple-quest
